@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.inter-regular {
  font-family: "Inter", sans-serif;
}


.urbanist-regular {
  font-family: "Urbanist", sans-serif;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: teal;
}